.navbar-nav {
  margin-left: auto;
}

.navbar {
  background-color: rgb(254, 254, 254);
  box-shadow: 3px 4px 10px #bab9b9;
}
.container-fluid {
  border-bottom: 2px;
}

.navbar-brand img {
  width: 28%;
}

.nav-item a {
  font-size: 20px;
  color: rgb(10, 154, 170);
  font-weight: 600;
}
